{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{vehiculo.matricula}}{% endblock %}
{% block content %}
{% include 'vehiculos/includes/vehiculos_menu.html' %}
<main role="main">
  <div class="container">
    <div class="row mt-3 mb-3">
      <div class="col-md-9 mx-auto">
        <h2 class="section-heading mb-4">{{vehiculo.matricula}}</h2>
          <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
              <!-- Previa del avatar -->
              <div class="col-md-2">
                {% if request.vehiculo.avatar %}
                  <img src="{{request.vehiculo.avatar.url}}" class="img-fluid">
                  <p class="mt-1">¿Borrar? <input type="checkbox" id="avatar-clear" name="avatar-clear" /></p>
                {% else %}
                  <img src="{% static 'vehiculos/img/no-truck_r.png' %}" class="img-fluid">
                {% endif %}
              </div>
              <!-- Formulario -->
              <div class="col-md-6">
                <ul class="list-unstyled mt-4 text-medium">
                  <li>
			<span>Tipo de Vehículo:
			</span>
			{{vehiculo.tipo}}
                  </li>
		  <li>
			<span>Matrícula:
			</span>
			{{vehiculo.matricula}}
		  </li>
		  <li>
			<span>Num ejes:
			</span>
			{{vehiculo.ejes}}
		  </li>
		  <li>
			<span>Tara:
			</span>
			{{vehiculo.tara}}
		  </li>
		  <li>
			<span>Peso Máximo:
			</span>
			{{vehiculo.peso_maximo}}
		  </li>
		  <li>
			<span>Carga Pesados:
			</span>
			{{vehiculo.carga_pesados}}
		  </li>
		  <li>
			<span>Solo Gasóleos:
			</span>
			{{vehiculo.solo_gasoleos}}
		  </li>
		  <li>
			<span>No Petrolíferos:
			</span>
			{{vehiculo.no_petroliferos}}
		  </li>
		  <li>
			<span>Carga Querosenos:
			</span>
			{{vehiculo.carga_queroseno}}
		  </li>
		  <li>
			<span>Equipos Adicionales:
			</span>
			{{vehiculo.equipo_adicional}}
		  </li>
		  <li>
			<span>Equipos:
			</span>
			{{vehiculo.equipos}}
		  </li>
		  <li>
			<span>Contador:
			</span>
			{{vehiculo.contador}}
		  </li>
		  <li>
			<span>Compartimentos:
			</span>
			{{vehiculo.compartimentos}}
		  </li>
		  <li>
			<span>Fecha ADR:
			</span>
			{{vehiculo.fechaadr|date}}
		  </li>
		  <li>
			<span>Fecha ITV:
			</span>
			{{vehiculo.fechaitv|date}}
		  </li>
		  <li>
			<span>Fecha Tablas de Calibración:
			</span>
			{{vehiculo.fechatablas|date}}
		  </li>
		  <li>
			<span>Fecha Tarjeta Tte:
			</span>
			{{vehiculo.fechatarjetatte|date}}
		  </li>
		  <li>
			<span>Observaciones:
			</span>
			{{vehiculo.observaciones}}
		  </li>
		  <li>
			<span>Editado:
			</span>
			{{vehiculo.editado|date}}
		  </li>
		  <li>
			<span>Creado:
			</span>
			{{vehiculo.creado|date}}
		  </li>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}

<!-- Hay que añadir botones para ver fichas técnicas y poder subirlas, así como el resto de documentos. También ver una imagen de perfil del vehículo. -->
